/ISM/nbproject/private/
/ISM/build/
/ISM/dist/
/hism/nbproject/private/
/hism/dist/
/hism/build/
/hism_v2/nbproject/private/
/hism_v2/build/
/hism_v2/dist/
/HibernateTest/nbproject/private/
/HibernateTest/build/
/HibernateTest/dist/
/Hibernate_CarStoreTest/nbproject/private/
/hism_v1/nbproject/private/
/hism_v1/build/
/hism_v1/dist/
/WebcamTest/nbproject/private/
/WebcamTest/build/
/TableTest/nbproject/private/
/TableTest/build/
/his_v1/nbproject/private/
/his_v2/nbproject/private/
/his_v2/build/
/his_v1/build/
/his_v2/dist/
/his_v1/dist/
/HismTilHis/nbproject/private/
/HismTilHis/build/