#ant specific
his_v2/dist/
his_v2/build/
his_v1/dist/
his_v1/build/
 
#netbeans specific
his_v2/core
his_v2/nbproject/*
!his_v2/nbproject/project.properties
!his_v2/nbproject/project.xml
his_v1/core
his_v1/nbproject/*
!his_v1/nbproject/project.properties
!his_v1/nbproject/project.xml
 
#java specific
*.class
 
#general swap/backup files
*.so
*.log
*.out
*~
*.swp
*.DS_Store
*.lock

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
